
@model GuessGame
@{
    ViewBag.Title = "Guessing Game";
}

<h1>Guess the Number</h1>
<h5>A secret number between 1 and 100 has been generated. Can you guess which one it is?</h5>

<form asp-action="Index" method="post">
    <input asp-for="Guess" required />
    <input type="submit" value="Guess" />

</form>

@if (Model != null)
{
    if (Model.Error == true)
    {
        <p style="color: red">@Model.ErrorMessage</p>
        <p><b>Guesses:</b> @ViewBag.counter</p>
    }
    else
    {
        if (Model.Win == false)
        {
            <p>@Model.GameMessage</p>
            <p><b>Guesses:</b> @ViewBag.counter</p>
        }

        else
        {
            <h3>@Model.GameMessage</h3>
            <p><b>Guesses:</b> @ViewBag.counter</p>
            <form asp-action="Index" method="get">
                <input type="submit" value="Generate new number!" />
            </form>
        }
    }


}